
@{
    ViewBag.Title = "BrakIdError";
}

<h2>Bład zakresu!</h2>
<h3>Podane numery ID nie istnieją!</h3>
<h3>W tej aplikacji ID rozpoczyna się od 5 a konczy na 8</h3>
<br /><br />
@Html.ActionLink("Powrót do początku", "Index", "Losowanie")

