
@{
    ViewBag.Title = "ZlyFormatPlikuError";
}

<h2>Błąd!</h2>
<h3>Nieodpowiedni format ładowanego obrazka! Dozwolone tylko .jpg i .png</h3>

<br /><br />
@Html.ActionLink("Powrót do początku", "Index", "Nagrody")




